/* You can add global styles to this file, and also import other style files */
.cdk-global-scrollblock{
    overflow: hidden;
}

.cdk-global-scrollblock .cdk-overlay-container{
    position: absolute;
    top: 0;
}

.cdk-global-scrollblock .cdk-overlay-container,.cdk-global-scrollblock .cdk-global-overlay-wrapper, .cdk-global-scrollblock .cdk-overlay-pane{
    width: 100% ;
    height: 100% ;
}

lightbox{
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
}