.list-group-item{
    width: 100%;
    max-width: inherit;
}

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    
  }


  .scrolling-wrapper-flexbox  .card {
      flex: 0 0 auto;
 }
