<ul class="list-group list-group-flush ">
    <li class="list-group-item  container" gallerize="gallery">
        <h1>List 1</h1>
        <div class="scrolling-wrapper-flexbox row" gallerize="gallery-1">
          <img class="card col-md-2" *ngFor="let image of data1" [src]="image.previewUrl" [attr.imageSrc]="image.srcUrl" [attr.thumbSrc]="image.previewUrl">
          </div>
      </li>
    <li class="list-group-item  container" gallerize="gallery">
      <h1>List 2</h1>
      <div  class="scrolling-wrapper-flexbox row" gallerize="gallery-2" >
        <img class="card col-md-2" *ngFor="let image of data2" [src]="image.previewUrl" [attr.imageSrc]="image.srcUrl" [attr.thumbSrc]="image.previewUrl">
        </div>
    </li>
    <li class="list-group-item  container" gallerize="gallery">
        <h1>List 3</h1>
        <div  class="scrolling-wrapper-flexbox row" gallerize="gallery-3" >
          <img class="card col-md-2" *ngFor="let image of data3" [src]="image.previewUrl" [attr.imageSrc]="image.srcUrl" [attr.thumbSrc]="image.previewUrl">
          </div>
      </li>
      <li class="list-group-item  container" gallerize="gallery">
        <h1>List 4</h1>
        <div  class="scrolling-wrapper-flexbox row"  gallerize="gallery-4">
          <img class="card col-md-2" *ngFor="let image of data4" [src]="image.previewUrl" [attr.imageSrc]="image.srcUrl" [attr.thumbSrc]="image.previewUrl">
          </div>
      </li>
      <li class="list-group-item  container" gallerize="gallery">
        <h1>List 5</h1>
        <div class="scrolling-wrapper-flexbox row" gallerize="gallery-5">
          <img class="card col-md-2" *ngFor="let image of data5" [src]="image.previewUrl" [attr.imageSrc]="image.srcUrl" [attr.thumbSrc]="image.previewUrl">
          </div>
      </li>
  </ul> 